@import '@/styles/_variables.scss';
.nav {
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 20;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.linkBox {
  display: flex;
  gap: 26px;
}

.link {
  color: $black;
  font-weight: 600;
  transition: $delay;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  &:hover {
    color: $secondary;
    border-bottom-color: $secondary;
  }
}
.socialBox {
  display: flex;
  gap: 10px;
  .link {
    border: none;
  }
}
