@import '@/styles/_variables';
.container {
  margin-bottom: 4rem;
}
.title {
  color: $black;
  font-size: 48px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.2px;
  max-width: 70%;
}
.description {
  color: $text-grey;
}
