/* Samet Çetin github.com/imsamet
*/
// Grid system

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @each $breakpoint, $value in $breakpoints {
    @include mediaMin($breakpoint) {
      max-width: $value;
    }
  }
}
.row {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;

  &.start {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.around {
    justify-content: space-around;
  }

  &.between {
    justify-content: space-between;
  }
}

@for $i from 1 through $colSize {
  .col-#{$i} {
    flex: 0 0 calc(#{$i} / #{$colSize} * 100%);
    max-width: calc(#{$i} / #{$colSize} * 100%);

    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@each $breakpoint, $value in $breakpoints {
  @for $i from 1 through $colSize {
    @include mediaMin($breakpoint) {
      .col-#{$breakpoint}-#{$i} {
        width: calc(#{$i} / #{$colSize} * 100%);
        float: left;

        padding-left: 1rem;
        padding-right: 1rem;
      }
    }
  }
}
