@import "fonts";
@import "mixins";
@import "variables";
@import "grid-system";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-default;
}

a {
  color: inherit;
  text-decoration: none;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
